.form-group {
    z-index: 1001;
    display: flex;
    font-weight: normal;
}

.control-label {
    padding: 10px;
}

input.form-control {
    padding-right: 10px;
    max-width: 50%;
    right: 0px;
}

.options-btn {
    cursor: pointer;

}

.color-selected {
    width: 28px;
    height: 28px;
    margin-right: 14px;
    margin-bottom: 14px;
    transform: scale(1);
    transition: transform 100ms ease 0s;
}

.color-selected-inner-div {
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    outline: none;
    border-radius: 50%;
    /*box-shadow: rgb(233, 30, 99) 0px 0px 0px 15px inset;*/
    margin-top: 8px;
    transition: box-shadow 100ms ease 0s;
}